/* 
    Created on : 23/06/2018, 00:02:52
    Author     : henrique
*/
input{
    width: 300px;
    padding: 15px;
    font-size: 14px;
    border: 1px solid #CCC;
}

input[type=submit]{
    width: 150px;
    padding: 15px;
    font-size: 14px;
    border: 1px solid #CCC;
}
.retornaLogin{
    text-decoration: none;
}
