/* 
    Created on : 22/07/2018, 12:27:18
    Author     : henrique
*/
body{
    font-family: sans-serif;
}
.topo{
    width: 100%;
    height: 10%;
    background-color: #CDC9C9;
    color: black;
    margin-top: 1%;
}
.imagem {
    width: 38%;
    float:left;
    text-align: center;
    padding: 28vw 0vw 5vw 0vw;
    min-width:40vw;
}

.toporight {
    width: 38%;
    float:right;
    margin-right: 0vw;
    text-align: center;
    padding: 40vw 0vw 5vw 0vw;
    min-width:40vw;
    float:right;
}
.titulo{
    font-size: 12px;
    text-decoration: underline;
}
.titulo2{
    font-size: 10px;
    margin-left: 50px;
}
.corposolicita{
    margin-left: 50px;
    margin-top: 50px;
}
.corposolicita2{
    margin-left: 50px;
    margin-top: 50px;
}