/* 
    Created on : Feb 21, 2018, 5:08:20 PM
    Author     : Jose Henrique
*/
body{
    margin: 0;
    /*background-color: #CDC9C9;*/ /*#B5B5B5 */
    /* background: linear-gradient(to bottom right, black,orangered);*/
    background: #D8D5C2 url(../img/background_main.jpg) repeat-x top;
    text-align: center;
    position: absolute; top: 0; bottom:0; right:0; left:0;
    font-family: helvetica, arial, sans-serif;
}
.formulario{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 250px;
    border-radius: 5px;
    background-color: #FFA54F;
    padding-top: 15px;
    margin-bottom: 10%;
}
.formularioRedefine{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 325px;
    border-radius: 5px;
    background-color: #FFA54F;
    padding-top: 15px;
    margin-bottom: 10%;
}
.footer{
    margin-top: 15px;
    width: auto;
    height: 17px;
    background-color: #FF8C00;
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 1%;
    padding-top: 5px;
}
.content{
    width: auto;
    height: 600px;
    //background-color: #ffffff;
    margin: auto auto;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    text-decoration: none;
}
.topo{
    width: 100%;
    height: 10%;
    background-color: #FF8C00;
    color: black;
    margin-top: 1%;
}
.opcao{
    width: 300px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 2px solid #696969;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    background-color: #DCDCDC;
}
.topousuario{
    float: right;
    margin-right:20px;
    height: 40px;
    line-height: 40px;
}
.main{
    width: auto;
    height: auto;
    //background-color: #ffffff;
    padding-top: 2%;
    padding-bottom: 2%;
}
.tabelaUsuario{
    margin: 0 auto;
    border-collapse: collapse;
    border-color: black;
    border: 3px ridge #000;
}
.tabelaUsuario tr td{
    border: 3px ridge #000;
    text-align: center;
    text-justify: auto;
}
.campoPesquisa{
    margin-bottom: 4px;
    margin-left: 800px;
}
.campoPesquisa{
    margin-bottom: 10px;
    margin-left: 400px;
}
.geraExame{
    width: 1200px;
    margin: auto;
    text-align: center;
    display: table;
    //background-color: #8B8970;
}
/*.mapa{
    margin-left: 45%;
    margin-top: 20px;
}*/
.formExame{
    float: left;
    width: 30%;
    //background-color: #000;
}
.botoes{
    margin-top: 15px;
}
